<div class="search-container">
  <select class="search-category">
    <option value="opcao1">Todas Categorias</option>
    <option value="opcao2">Filmes</option>
    <option value="opcao3">Jogos</option>
    <option value="opcao3">Livros</option>
    <option value="opcao3">Música</option>
    <option value="opcao3">Notícias</option>
    <option value="opcao3">Tecnologia</option>
  </select>
  <div class="search-content">
    <a href="">Todos</a>
    <p> | </p>
    <a href="">Lives</a>
    <p> | </p>
    <a href="">Short</a>
    <p> | </p>
    <a href="">Video</a>
  </div>
  <mat-divider></mat-divider>
</div>
