<div class="search-container">
  <select class="search-category" (change)="onCategoryChange($event)">
    <option value="todos">Todas Categorias</option>
    <option value="livro">Livros</option>
    <option value="música">Música</option>
    <option value="tecnologia">Tecnologia</option>
  </select>
  <div class="search-content" >
    <ng-container *ngFor="let item of searchType; let last = last">
      <a
        href="#"
        [ngClass]="{'active-filter': currentFilter === item}"
        (click)="onFilterClick(item); $event.preventDefault()"
      >
        {{ item }}
      </a>
      <span *ngIf="!last"> | </span>
    </ng-container>
  </div>
  <mat-divider></mat-divider>
</div>
