<div class="container play-container">
  <div class="row">
    <div class="play-video">
      <video controls autoplay>
        <source src="https://www.youtube.com/watch?v=FTFaQWZBqQ8" type="video/mp4">
      </video>
      <div class="tags">
        <a href="">#Live</a>
        <a href="">#Fashion</a>
        <h3>Best channel to learn coding that help you to be aweb developer</h3>
        <div class="play-video-info">
          <p>1225 views &bull; 2 days ago</p>
        </div>
        <mat-divider></mat-divider>
        <div class="plublisher">
          <img src="https://cdn.leonardo.ai/users/e8eff8bb-3849-4d38-830d-dafa87ae0552/generations/d03e8d19-39e0-4f13-8793-a5ef74b3e365/Leonardo_Phoenix_Create_a_soft_whimsical_watercolor_drawing_in_3.jpg?w=512" alt="">
          <div>
            <p>Easy Tutorials</p>
          </div>
          <button mat-fab extended>Inscreve-se</button>
        </div>
        <div class="vid-description">
          <p>The official video for “Never Gonna Give You Up” by Rick Astley</p>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="side-video-list">
        <div>
          <img class="small-thumbnail" src="https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg" alt="">
        </div>
        <div class="vid-info">
          <p class="vid-title">Best channel to learn coding that help you to be aweb developer</p>
          <p>Easy Tutorials</p>
          <p>1225 views &bull; 2 days ago</p>
          <button mat-fab extended class="button-view">Assistir</button>
        </div>
      </div>
    </div>
  </div>
</div>
