<div class="container play-container">
  <div class="row">
    <div class="play-video" *ngIf="video$ | async as video">
      <iframe
        *ngIf="safeUrl"
        [src]="safeUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <div class="tags">
        <a href="">#{{ video.type }}</a>
        <a href="">#{{ video.category }}</a>
        <h3>{{ video.title }}</h3>
        <div class="play-video-info">
          <p>{{ video.views | customNumber }} visualizações &bull; {{ video.uploadedAt | customDate }}</p>
          <mat-button-toggle-group
            #group="matButtonToggleGroup"
            class="like-dislike-buttons"
            *ngIf="isAuthenticated$ | async"
          >
            <mat-button-toggle
              (click)="toggleLike(video.id, true)"
              [checked]="likes[video.id] === true"
              class="icon-button"
            >
            <mat-icon [ngClass]="{'active-icon': likes[video.id] === true}">thumb_up_alt</mat-icon>
          </mat-button-toggle>
            <mat-button-toggle
              (click)="toggleLike(video.id, false)"
              [checked]="likes[video.id] === false"
              class="icon-button"
            >
              <mat-icon [ngClass]="{'active-icon': likes[video.id] === false}">thumb_down_alt</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
        <div class="plublisher">
          <img src="{{ video.channelIcon }}" alt="Foto de perfil do canal do youtube.">
          <div>
            <p>{{ video.channelName }}</p>
          </div>
          <button
            mat-fab extended
            [ngStyle]="{ 'background-color': isSubscribed ? 'gray' : 'red' }"
            (click)="toggleSubscription()"
            *ngIf="isAuthenticated$ | async"
          >
            {{ isSubscribed ? 'Inscrito' : 'Inscrever-se' }}
          </button>
        </div>
        <div class="vid-description">
          <p>{{ video.description }}</p>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="side-video-list" *ngFor="let video of (filteredVideos$ | async)">
        <div class="side-info">
          <img
            class="small-thumbnail"
            src="{{ video.thumbnail }}"
            alt="Imagem em miniatura representando o vídeo '{{ video.title }}'"
          >
        </div>
        <div class="vid-info">
          <p class="vid-title">{{ video.title }}</p>
          <p>{{ video.channelName }}</p>
          <p>{{ video.views | shortNumber:0 }} visualizações &bull; {{ video.uploadedAt | timeAgo }}</p>
          <button
            mat-fab extended
            class="button-view"
            [routerLink]="['/watch', video.id]"
            (click)="loadVideo(video.id)"
          >
            Assistir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
