.navbar {
  background-color: #F2F2F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 10;
  top: 0;
}

.navbar .navbar-logo {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 300;
  margin-left: 8px;
}

.navbar .navbar-logo span {
  background: linear-gradient(to bottom, var(--bg-red-dark-color), var(--bg-red-light-color));
  color: #FFF;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 0px 100px 100px 100px;
}

.navbar .navbar-search {
  width: 40%;
  margin-top: 1.4rem;
  margin-left: 10rem;
  transition: all 0.5s ease;
}

.navbar .navbar-search mat-icon {
  color: #6E716E;
}

::ng-deep .mat-form-field-appearance-outline {
  --mdc-outlined-text-field-container-shape: 28px;
}

@media (max-width:630px) {
  .navbar .navbar-search {
    margin-left: 2rem;
  }
}

