<div
    class="sidebar"
    [ngClass]="{'collapsed': sidebarCollapsed, 'hidden': sidebarHidden}"
    appAutoCollapseSidebar
    [(sidebarCollapsed)]="sidebarCollapsed"
    [(sidebarHidden)]="sidebarHidden"
  >
  <div class="sidebar-content">
    <div class="sidebar-profile">
      <img *ngIf="isAuthenticated$ | async" class="img" [src]="(user$ | async)?.picture" alt="Foto de perfil do usuário.">
      <p class="name" *ngIf="!sidebarCollapsed"> {{ (user$ | async)?.name }} </p>
      <p class="email" *ngIf="!sidebarCollapsed"> {{ (user$ | async)?.email }} </p>
      <button mat-fab extended (click)="login()" *ngIf="!(isAuthenticated$ | async)">
        <mat-icon>login</mat-icon>
        <span class="button-text">Entrar</span>
      </button>
      <button mat-fab extended (click)="logout()" *ngIf="isAuthenticated$ | async">
        <mat-icon>logout</mat-icon>
        <span class="button-text">Sair</span>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="sidebar-items">
      <div class="sidebar-item" routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span *ngIf="!sidebarCollapsed">Início</span>
      </div>
      <div class="sidebar-item" routerLink="/favorite" routerLinkActive="active">
        <mat-icon>favorite</mat-icon>
        <span *ngIf="!sidebarCollapsed">Favoritos</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sidebar-subscriptions">
      <p class="subscriptions-title">Inscrições</p>
      <div class="subscriptions-content">
        <img class="subscriptions-img" src="https://cdn.leonardo.ai/users/e8eff8bb-3849-4d38-830d-dafa87ae0552/generations/d03e8d19-39e0-4f13-8793-a5ef74b3e365/Leonardo_Phoenix_Create_a_soft_whimsical_watercolor_drawing_in_3.jpg?w=512" alt="">
        <p *ngIf="!sidebarCollapsed">Alanzoka</p>
      </div>
    </div>
  </div>
</div>
