<div class="list-container" *ngIf="(filteredVideos$ | async) as videos">

  <div *ngIf="noVideosFound" class="no-videos-message">
    <p>😅 Ops! Nenhum vídeo encontrado com esse título... Que tal tentar outra busca?</p>
  </div>

  <div class="vid-list" *ngFor="let video of videos">
    <div class="image-container">
      <img class="thumbnail" src="{{ video.thumbnail }}" alt="">
      <div class="content-tag">
        <mat-icon
          [ngClass]="{'icon-live': video.type === 'Live', 'icon-video': video.type === 'Video'}"
        >
        play_circle_filled
      </mat-icon>
        {{ video.type }}
      </div>
      <div class="category-tag"> {{ video.category }} </div>
    </div>
    <div class="flex-div">
      <div class="vid-info">
        <p class="vid-title">{{ video.title }}</p>
        <p class="vid-description">{{ video.description }}</p>
        <div class="vid-content">
          <img src="{{ video.channelIcon }}" alt="">
          <div class="vid-content-info">
            <p>{{ video.channelName }}</p>
            <div class="info-icon">
              <p>{{ video.views | shortNumber:0 }} visualizações &bull; {{ video.uploadedAt | timeAgo }}</p>
            </div>
          </div>
        </div>
        <div class="vid-button">
          <button mat-fab extended class="button-view">Assistir</button>
          <button mat-mini-fab class="button-icon">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

