<div class="list-container" *ngIf="(filteredVideos$ | async) as videos">

  <div *ngIf="noVideosFound" class="no-videos-message">
    <p>😅 Ops! Nenhum vídeo encontrado com esse título... Que tal tentar outra busca?</p>
  </div>

  <div class="vid-list" *ngFor="let video of videos">
    <div class="image-container">
      <img class="thumbnail" src="{{ video.thumbnail }}" alt="">
      <div class="content-tag content-tag">
        <mat-icon>play_circle_filled</mat-icon>
        Live
      </div>
      <div class="category-tag">Fashion</div>
    </div>
    <div class="flex-div">
      <div class="vid-info">
        <p class="vid-title">{{ video.title }}</p>
        <p class="vid-description">{{ video.description }}</p>
        <div class="vid-content">
          <img src="https://cdn.leonardo.ai/users/e8eff8bb-3849-4d38-830d-dafa87ae0552/generations/d03e8d19-39e0-4f13-8793-a5ef74b3e365/Leonardo_Phoenix_Create_a_soft_whimsical_watercolor_drawing_in_3.jpg?w=512" alt="">
          <div class="vid-content-info">
            <p>Easy Tutorials</p>
            <div class="info-icon">
              <p>{{ video.views | shortNumber:0 }} visualizações &bull; {{ video.uploadedAt | timeAgo }}</p>
            </div>
          </div>
        </div>
        <div class="vid-button">
          <button mat-fab extended class="button-view">Assistir</button>
          <button mat-mini-fab class="button-icon">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noVideos>
  <div class="no-videos-message">
    <p>Nenhum vídeo encontrado com esse título. Tente novamente!</p>
  </div>
</ng-template>
