<div class="banner">
  <div class="banner-content">
    <img src="https://cdn.leonardo.ai/users/e8eff8bb-3849-4d38-830d-dafa87ae0552/generations/6f2c441e-1aff-4e88-bc59-96f88449a9be/Leonardo_Kino_XL_Create_an_image_of_a_person_with_an_intense_t_2.jpg" alt="">
  </div>
  <div class="banner-text" *ngIf="!(isAuthenticated$ | async)">
    <h1>Desbloqueie a melhor experiência para você!</h1>
    <p>Faça login e tenha acesso exclusivo a todos os recursos.</p>
    <button mat-fab extended (click)="login()">Entrar agora</button>
  </div>
  <div class="banner-text" *ngIf="isAuthenticated$ | async">
    <h1>Bem-vindo de volta!</h1>
    <p>Você desbloqueou um mundo de vídeos! Aproveite sua jornada com acesso total aos recursos incríveis!</p>
  </div>
</div>
